body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: Verdana;
}

table,th,td {
    border: 0px;
    margin: 0;
}

th,td {
    border: 0px;
    margin: 0;
    padding-right: 5rem;
    border-bottom: 2px solid lightgrey;
}

th,td {
    border-right: 2px solid lightgrey;
}

th:nth-child(6) {
    border-right: 2px solid lightgrey;
}

th:nth-of-type(1),td:nth-of-type(1) {
    border-left: 2px solid lightgrey;
}

h3 {
    display: flex;
    justify-content: center;
    color: limegreen;
}

h3>a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: limegreen;
    text-decoration: none;
    border: 1px solid black;
    box-shadow: 0.1rem 0.1rem 0.4rem black;
    width: 15rem;
    padding: 1rem;
    transition: 0.5s;
}

h3>a:hover {
    background-color: black;
        border: 1px solid limegreen;
    box-shadow: 0.1rem 0.1rem 0.4rem limegreen;
}